:host {
    width: 100%;
}

.form-control {
    position: relative; // Stable positioning for iOS Safari anchoring
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #444 !important;
    padding-left: 0.2rem;
    font-size: 1.1rem;
    height: 38px;
    line-height: normal;
}

.form-control::placeholder {
    color: #666;
}