.carousel-container {
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .snap-item {
        scroll-snap-align: start;
        flex: 0 0 auto;
    }
}

.carousel-wrapper {
    user-select: none;
}